/* navbar.css */
.navbar .dropdown-menu {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top:40px;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
