@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.nav{
  background: linear-gradient(135deg, #9C27FF, #C400FF);
}
h1 , h2 , h3 , h4 , h5 , h6{
   font-family: "Playfair Display", serif;
}